:root {
  --space-xs: 8px;
  --space-s: 12px;
  --space-em: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-d: 16px;
  --size-s: 14px;
  --size-b: 20px;
  --size-l: 24px;

  --color-border: #dee2e6;
  --color-primary: rgb(60, 62, 202);
  --color-white: #ffffff;
  --color-title: #212529;
  --color-text: #343a40;
  --color-text-light: #6c757d;

  --border-radius-d: 12px;
  --border-radius-s: 4px;

  --weight-title: 600;
  --weight-text: 400;

  --page-width: 1000px;

  font-family: 'Roboto';
}

/* ////////////////////// */

.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}

/*////////////////////// */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 18px;
  color: var(--color-white);
  background: var(--color-primary);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius-d) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-s);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);

  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-b);
  color: var(--color-title);
  font-weight: var(--weight-title);

  display: block;
  margin-bottom: var(--space-l);
}

.main {
  display: flex;
  gap: 40px;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1.5;
  max-width: 580px;
  width: 100%;
}

.info_title {
  font-size: 56px;
  color: var(--color-title);
  font-weight: 700;
  line-height: 120%;
}

.info_description {
  font-size: var(--size-d);
  color: var(--color-title);
  font-weight: var(--weight-text);
  line-height: 150%;
  max-width: 400px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 45px 35px;
  gap: 20px;
  border: 1px solid #ced4da;
  border-radius: var(--border-radius-s);
  background: #f8f9fa;
}

.form_button {
  text-align: center;
  background-color: var(--color-primary);
  padding: var(--space-xs);
  color: var(--color-white);
  transition: opacity 0.7s;
}

.form_button:hover {
  opacity: 0.7;
}

.form_button:active {
  opacity: 0.3;
}

.line {
  border: 1px solid var(--color-title);
  opacity: 0.25;
}

.form_info {
  text-align: center;
  font-size: var(--size-s);
  color: var(--color-text-light);
}

.form_inputs_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.form_input {
  padding: var(--space-xs) var(--space-s);
  border: 1px solid #ced4da;
  border-radius: var(--border-radius-s);
  background-color: var(--color-white);
}

.form_input::placeholder {
  font-size: var(--size-d);
  color: var(--color-title);
}

.form_checkbox {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.form_checkbox > label {
  font-size: var(--size-d);
  color: var(--color-title);
}

.updates {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  gap: var(--space-l);
  padding: var(--space-l);
}

.updates_title {
  font-size: var(--size-l);
  color: var(--color-title);
  line-height: 80%;
  padding-bottom: var(--space-s);
  border-bottom: 1px solid #dee2e6;
}

.updates_list {
  display: flex;
  flex-direction: row;
}

.list_text {
  display: flex;
  flex-direction: column;
  padding-left: var(--space-xs);
  justify-content: center;
  padding-bottom: var(--space-s);
  border-bottom: 1px solid #dee2e6;
}

.list_nickname {
  color: var(--color-text-light);
  font-size: var(--size-s);
  font-weight: 700;
  line-height: 125%;
  padding-bottom: var(--space-s);
  align-items: center;
}

.list_description {
  color: var(--color-text-light);
  font-size: var(--size-d);
}

.list_link {
  color: #007bff;
  font-size: var(--size-s);
  line-height: 140%;
  transition-property: opacity text-decoration;
  transition-duration: 0.7s;
  text-decoration: none;
}

.list_link:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.expirience {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  border-radius: 4px;
  background: #f8f9fa;
  padding: 24px 28px;
  position: relative;
}

.expirience_start {
  display: flex;
  flex-direction: row;
}

.expirience_badge {
  position: absolute;
  transform: rotate(30deg);
  padding: 12px 24px;
  border-radius: 70px;
  background: #ff7347;
  right: -3%;
  top: -4%;
  width: 80px;
}

.badge {
  color: var(--color-white);
  font-size: var(--size-b);
  font-weight: 700;
  line-height: 120%;
}

.expirience_title {
  font-size: 42px;
  color: var(--color-title);
  font-weight: 700;
  line-height: 120%;
}

.expirience_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-l);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--color-title);
  border-radius: 12px;
  color: var(--color-white);
  padding: var(--space-em);
  width: 300px;
}

.list_name {
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}

.list_details {
  color: #b1b1b1;
  font-size: var(--size-d);
  line-height: 140%;
}
