:root {
  --text-color: green;
  --space-medium: 24px;
}

.page {
  background: #ffffff;
  padding: 0 15px;
}

.page_content {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  padding: var(--space-medium);
  border-bottom: 1px solid #dee2e6;
}

.logo {
  font-size: 18px;
}

.divider {
  margin: 0;
  height: 1px;
  background: #dee2e6;
}

.nav {
  display: block;
}

.nav_link {
  color: #343a40;
  font-size: 17px;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;

  opacity: 50%;
}

.nav_vertical > .nav_link {
  display: block;
}

.nav_inline > .nav_link:not(:last-child) {
  margin-right: var(--space-medium);
}

.nav_vertical > .nav_link {
  margin-bottom: 12px;
}

.header_nav_right {
  margin-left: auto;
  width: fit-content;
}

.page_block:not(:last-of-type) {
  margin-bottom: 80px;
}

.footer {
  padding: var(--space-medium) 0;
  border-top: 1px solid #dee2e6;
}

.footer_copyright {
  font-size: 14px;
  color: #6c757d;

  display: block;
  margin-top: 12px;
}

.footer_title {
  font-size: 20px;
  color: var(--text-color, #212529);

  display: block;
  margin-bottom: 12px;
}

.hero_title {
  font-size: 56px;
  color: var(--text-color, #212529);
  font-weight: 500;
  margin-bottom: 12px;
  text-align: center;
}

.hero_text {
  font-size: 20px;
  color: var(--text-color, #212529);
  text-align: center;
  max-width: 585px;
  margin: 0 auto;
  line-height: 150%;
}

.plans_card:not(:last-of-type) {
  margin-right: var(--space-medium);
}

.card-header {
  padding: 12px;
  text-align: center;
  font-size: var(--space-medium);
  color: var(--text-color, #212529);
}

.card-body {
  padding: var(--space-medium);
}

.card_price_amount {
  font-size: 40px;
  color: var(--text-color, #212529);
}

.card_price_duration {
  font-size: 29px;
  color: #6c757d;
  vertical-align: 10%;
}

.card_block {
  text-align: center;
}

.card_block:not(:last-of-type) {
  margin-bottom: var(--space-medium);
}

.description_item {
  font-size: 16px;
  color: var(--text-color, #212529);
  display: block;
}

.description_item:not(:last-of-type) {
  margin-bottom: 12px;
}

.card_button {
  display: block;
  width: 100%;
  font-size: 19px;
  padding: 9px;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
}

.card:hover {
  outline: 1px solid black;
  outline-offset: 5px;
  box-shadow: 5px 5px 10px 5px #679dd49c;
  cursor: pointer;
  opacity: 0.5;
}

h1 {
  text-shadow: 2px 2px 2px #848586;
}

.plans_card:nth-child(2) {
  visibility: hidden;
}

.hero_text {
  background: gray;
  /* text-align: left; */
  /* white-space: pre-line; */
  max-width: 450px;
  width: 500px;
  hyphens: manual;
  word-spacing: 5px;
  /* overflow: auto;
  resize: both; */
}

.overflow {
  overflow-wrap: keep-all;
}

body {
  /* background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(121, 77, 246, 0.3) 0%,
    rgba(85, 27, 251, 0.3) 0.01%,
    rgba(255, 255, 255, 0) 100%
  ); */
  /* background-image: url('/img/test.png');
  background-repeat: round; */
}

.page {
  /* background-color: transparent;
  background-image: url('/img/test 3.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
}

.hero_text {
  /* background-image: url('/img/test 3.jpeg');
  width: 500px;
  height: 40px;
  background-attachment: local;
  overflow: auto; */
  /* background-image: url('/img/test 3.jpeg');
  width: 500px;
  height: 300px;
  border: 20px solid transparent; */
  padding: 40px;
  color: green;
  font-size: 20px;
  /* background-clip: text;
  -webkit-background-clip: text; */
  /* background-origin: border-box;
  background-repeat: no-repeat;*/
  border-image-source: url('/img/test 3.jpeg');
  border-image-width: 10%;
  border-image-slice: 10%;
  border-image-repeat: stretch;
  border-image-outset: auto;
}

.card_block {
  /* list-style-type: upper-alpha; */
  list-style-position: inside;
  list-style-image: linear-gradient(
    to bottom right,
    blue,
    red
  );

  padding: 0%;
}

.description_item {
  display: list-item;
}

.table tr {
  /* border: 1px solid black; */
}

.table td {
  border: 1px solid rgb(53, 76, 204);
  border-bottom-color: red;
  border-right-color: yellow;
}

.table {
  table-layout: fixed;

  width: 600px;

  border-collapse: unset;
  border-spacing: 10px;
  empty-cells: hide;
}

caption {
  caption-side: top;
}

.nav_link::after,
.nav_link::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url('/img/test 3.jpeg');
}

/* .nav_link::before {
  content: open-quote;
} */

.nav_link::before {
  margin-right: 10px;
}

.nav_link::after {
  margin-left: 10px;
}

.calc {
  width: 600px;
  margin: 0;
  margin-left: calc(50% - (600px / 2));
}
